[Unit]
Description=Profile manager (location detection)
Requires=graphical.target

[Service]
User=%i
ExecStart=/usr/libexec/location_manager/location_manager 
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
